.MTT_TableBody-module_root__pwszu {
  background-color: var(--mtt-base-background-color);
  position: relative;
}

.MTT_TableBody-module_root-grid__F0Op9 {
  display: grid;
}

.MTT_TableBody-module_root-no-rows__z7ejn {
  min-height: 100px;
}

.MTT_TableBody-module_root-virtualized__IjoiB {
  height: var(--mtt-table-body-height);
}

.MTT_TableBody-module_empty-row-tr-grid__P5al- {
  display: grid;
}

.MTT_TableBody-module_empty-row-td-grid__aBamk {
  display: grid;
  width: inherit;
}

.MTT_TableBody-module_empty-row-td-content__-tvG2 {
  color: var(--mantine-color-dimmed);
  font-style: italic;
  max-width: min(100vw, calc(var(--mtt-paper-width) * 1px));
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
  width: 100%;
}

.MTT_TableBody-module_pinned__aWlMZ {
  bottom: calc(var(--mtt-table-footer-height, 0) * 1px - 1px);
  position: sticky;
  top: calc(var(--mtt-table-head-height, 0) * 1px - 1px);
  z-index: 1;
}

.MTT_TableBodyRow-module_root__BZFqi {
  --hover-thickness: 3px;
  --drag-thickness: 1px;

  box-sizing: border-box;
  transition: all 150ms ease-in-out;
  width: 100%;
  /* end row pinning styles */
  /* end selection styles */
}

  /* default background-color */
  .MTT_TableBodyRow-module_root__BZFqi:not([data-striped], [data-striped="false"]) {
    background-color: var(--mtt-base-background-color);
  }
  /* striped background-colors (take detail panels and virtualization into account) */
  .MTT_TableBodyRow-module_root__BZFqi:not([data-selected], [data-row-pinned])[data-striped="odd"] {
      background-color: var(--mtt-striped-row-background-color);
    }
  .MTT_TableBodyRow-module_root__BZFqi:not([data-selected], [data-row-pinned])[data-striped="even"] {
      background-color: var(--mtt-striped-row-background-color);
    }
  /* column pinning styles */
  .MTT_TableBodyRow-module_root__BZFqi:not([data-selected], [data-row-pinned]) td[data-column-pinned]::before {
          background-color: var(--mtt-pinned-column-background-color);
        }
  .MTT_TableBodyRow-module_root__BZFqi:not([data-selected], [data-row-pinned])[data-striped="odd"] td[data-column-pinned]::before {
            background-color: var(--mtt-striped-row-background-color);
          }
  .MTT_TableBodyRow-module_root__BZFqi:not([data-selected], [data-row-pinned])[data-striped="even"] td[data-column-pinned]::before {
            background-color: var(--mtt-striped-row-background-color);
          }
  .MTT_TableBodyRow-module_root__BZFqi td[data-column-pinned] {
      background-color: var(--mtt-pinned-column-background-color);
      opacity: 0.97;
      position: sticky;
      z-index: 1;
    }
  .MTT_TableBodyRow-module_root__BZFqi td[data-column-pinned]::before {
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
      }
  .MTT_TableBodyRow-module_root__BZFqi td[data-column-pinned][data-column-pinned="left"] {
        left: calc(var(--mtt-table-cell-left, 0) * 1px);
      }
  .MTT_TableBodyRow-module_root__BZFqi td[data-column-pinned][data-column-pinned="left"][data-last-left-pinned]::before {
            box-shadow: -6px 0 6px -6px
              color-mix(in srgb, var(--mantine-color-gray-outline), transparent 50%)
              inset;
          }
  [data-mantine-color-scheme='dark'] .MTT_TableBodyRow-module_root__BZFqi td[data-column-pinned][data-column-pinned="left"][data-last-left-pinned]::before {
            box-shadow: -6px 0 6px -6px
              color-mix(in srgb, var(--mantine-color-dark-outline), transparent 50%)
              inset;
}
  .MTT_TableBodyRow-module_root__BZFqi td[data-column-pinned][data-column-pinned="right"] {
        right: calc(var(--mtt-table-cell-right, 0) * 1px);
      }
  .MTT_TableBodyRow-module_root__BZFqi td[data-column-pinned][data-column-pinned="right"][data-first-right-pinned]::before {
            box-shadow: 6px 0 6px -6px
              color-mix(in srgb, var(--mantine-color-gray-outline), transparent 50%)
              inset;
          }
  [data-mantine-color-scheme='dark'] .MTT_TableBodyRow-module_root__BZFqi td[data-column-pinned][data-column-pinned="right"][data-first-right-pinned]::before {
            box-shadow: 6px 0 6px -6px
              color-mix(in srgb, var(--mantine-color-dark-outline), transparent 50%)
              inset;
}
  /* row pinning styles */
  .MTT_TableBodyRow-module_root__BZFqi[data-row-pinned] {
    background-color: var(
      --mtt-pinned-row-background-color,
      --mantine-color-body
    );
    bottom: calc(var(--mtt-pinned-row-bottom) * 1px);
    opacity: 0.97;
    top: calc(var(--mtt-pinned-row-top) * 1px);
  }
  .MTT_TableBodyRow-module_root__BZFqi[data-row-pinned] td::before {
        background-color: var(--mtt-pinned-row-background-color);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
      }
  .MTT_TableBodyRow-module_root__BZFqi[data-row-pinned] td[data-column-pinned] {
        background-color: var(--mtt-pinned-column-background-color);
      }
  .MTT_TableBodyRow-module_root__BZFqi[data-row-pinned] td[data-column-pinned]::before {
          background-color: var(--mtt-pinned-row-background-color);
          content: "";
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: -1;
        }
  /* end column pinning styles */
  .MTT_TableBodyRow-module_root__BZFqi[data-row-pinned="sticky"] {
    z-index: 2;
    position: sticky;
  }
  /* selection styles */
  .MTT_TableBodyRow-module_root__BZFqi[data-selected] {
    background-color: var(
      --mtt-selected-row-background-color,
      --mantine-color-body
    );
  }
  .MTT_TableBodyRow-module_root__BZFqi[data-selected] td[data-column-pinned] {
        background-color: var(--mtt-pinned-column-background-color);
      }
  .MTT_TableBodyRow-module_root__BZFqi[data-selected] td[data-column-pinned]::before {
          background-color: var(--mtt-selected-row-background-color);
        }
  .MTT_TableBodyRow-module_root__BZFqi[data-hover]:hover td {
        background-color: var(--mtt-row-hover-background-color);
      }
  .MTT_TableBodyRow-module_root__BZFqi[data-hover]:hover td[data-column-pinned] {
          background-color: var(--mtt-base-background-color);
        }
  .MTT_TableBodyRow-module_root__BZFqi[data-hover]:hover td[data-column-pinned]::before {
            background-color: var(--mtt-row-hover-background-color);
          }
  .MTT_TableBodyRow-module_root__BZFqi[data-hover]:hover:not([data-selected], [data-row-pinned])[data-striped="odd"] td {
            background-color: var(--mtt-striped-row-hover-background-color);
          }
  .MTT_TableBodyRow-module_root__BZFqi[data-hover]:hover:not([data-selected], [data-row-pinned])[data-striped="odd"] td[data-column-pinned] {
              background-color: var(--mtt-base-background-color);
            }
  .MTT_TableBodyRow-module_root__BZFqi[data-hover]:hover:not([data-selected], [data-row-pinned])[data-striped="odd"] td[data-column-pinned]::before {
                background-color: var(--mtt-striped-row-hover-background-color);
              }
  .MTT_TableBodyRow-module_root__BZFqi[data-hover]:hover:not([data-selected], [data-row-pinned])[data-striped="even"] td {
            background-color: var(--mtt-striped-row-hover-background-color);
          }
  .MTT_TableBodyRow-module_root__BZFqi[data-hover]:hover:not([data-selected], [data-row-pinned])[data-striped="even"] td[data-column-pinned] {
              background-color: var(--mtt-base-background-color);
            }
  .MTT_TableBodyRow-module_root__BZFqi[data-hover]:hover:not([data-selected], [data-row-pinned])[data-striped="even"] td[data-column-pinned]::before {
                background-color: var(--mtt-striped-row-hover-background-color);
              }
  .MTT_TableBodyRow-module_root__BZFqi[data-hover]:hover[data-selected] td {
          background-color: var(--mtt-selected-row-hover-background-color);
        }
  .MTT_TableBodyRow-module_root__BZFqi[data-hover]:hover[data-selected] td[data-column-pinned] {
            background-color: var(--mtt-base-background-color);
          }
  .MTT_TableBodyRow-module_root__BZFqi[data-hover]:hover[data-selected] td[data-column-pinned]::before {
              background-color: var(--mtt-selected-row-hover-background-color);
            }
  .MTT_TableBodyRow-module_root__BZFqi[data-dragging-row] {
    opacity: 0.5;
    border-bottom: var(--drag-thickness) dashed var(--drag-color);
    border-top: var(--drag-thickness) dashed var(--drag-color);
  }
  .MTT_TableBodyRow-module_root__BZFqi[data-dragging-row] td:first-child {
        border-left: var(--drag-thickness) dashed var(--drag-color);
      }
  .MTT_TableBodyRow-module_root__BZFqi[data-dragging-row] td:last-child {
        border-right: var(--drag-thickness) dashed var(--drag-color);
      }
  .MTT_TableBodyRow-module_root__BZFqi[data-hovered-row-target] td {
      opacity: 0.5;
      border-top: var(--hover-thickness) dashed
        var(--mtt-dragging-hovered-border-color);
      border-bottom: var(--hover-thickness) dashed
        var(--mtt-dragging-hovered-border-color);
    }
  .MTT_TableBodyRow-module_root__BZFqi[data-hovered-row-target] td:first-child {
        border-left: var(--hover-thickness) dashed
          var(--mtt-dragging-hovered-border-color);
      }
  .MTT_TableBodyRow-module_root__BZFqi[data-hovered-row-target] td:last-child {
        border-right: var(--hover-thickness) dashed
          var(--mtt-dragging-hovered-border-color);
      }

.MTT_TableBodyRow-module_root-grid__XM5Gb {
  display: flex;
}

.MTT_TableBodyRow-module_root-virtualized__ZK5vi {
  position: absolute !important;
  top: 0;
  transition: none !important;
  transform: translateY(calc(var(--mtt-virtual-row-start) * 1px));
  will-change: transform;
}

.MTT_TableBodyCell-module_root__8-lMv {
  --resize-thickness: 2px;

  background-clip: padding-box;
  text-align: var(--mtt-cell-align, left);
  overflow: hidden;
  position: relative;
  transition: padding 150ms ease-in-out;
}

  .MTT_TableBodyCell-module_root__8-lMv[data-dragging-column] {
    z-index: 2;
    border-left: var(--drag-thickness) dashed
      var(--mtt-dragging-drag-border-color);
    border-right: var(--drag-thickness) dashed
      var(--mtt-dragging-drag-border-color);
  }

  .MTT_TableBodyCell-module_root__8-lMv[data-dragging-column][data-last-row] {
      border-bottom: var(--drag-thickness) dashed
        var(--mtt-dragging-drag-border-color);
    }

  .MTT_TableBodyCell-module_root__8-lMv[data-hovered-column-target] {
    opacity: 0.5;
    border-left: var(--hover-thickness) dashed
      var(--mtt-dragging-hovered-border-color);
    border-right: var(--hover-thickness) dashed
      var(--mtt-dragging-hovered-border-color);
  }

  .MTT_TableBodyCell-module_root__8-lMv[data-hovered-column-target][data-last-row] {
      border-bottom: var(--hover-thickness) dashed
        var(--mtt-dragging-hovered-border-color);
    }

  .MTT_TableBodyCell-module_root__8-lMv[data-resizing="ltr"] {
    border-right: var(--resize-thickness) solid
      var(--mtt-resize-column-border-color);
  }

  .MTT_TableBodyCell-module_root__8-lMv[data-resizing="rtl"] {
    border-left: var(--resize-thickness) solid
      var(--mtt-resize-column-border-color);
  }

  .MTT_TableBodyCell-module_root__8-lMv:hover {
    outline-offset: -1px;
    text-overflow: clip;
  }

.MTT_TableBodyCell-module_root-grid__xLLff {
  align-items: center;
  justify-content: var(--mtt-cell-align, flex-start);
  display: flex;
}

.MTT_TableBodyCell-module_root-virtualized__aXM9v {
  transition: none;
}

.MTT_TableBodyCell-module_root-data-col__-vE1s {
  text-overflow: ellipsis;
}

.MTT_TableBodyCell-module_root-nowrap__QMmpm {
  white-space: nowrap;
}

.MTT_TableBodyCell-module_root-cursor-pointer__owhK7 {
  cursor: pointer;
}

@media (hover: hover) {

  .MTT_TableBodyCell-module_root-editable-hover__GCn6z:hover {
    outline: 1px solid var(--mantine-color-gray-7);
  }
}

@media (hover: none) {

  .MTT_TableBodyCell-module_root-editable-hover__GCn6z:active {
    outline: 1px solid var(--mantine-color-gray-7);
  }
}

.MTT_TableBodyCell-module_root-cell-hover-reveal__q5Gkl {
  overflow: visible;
}

.MTT_TableBodyCell-module_cell-hover-reveal__vSp9B {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: var(--mtt-cell-align);
}

.MTT_TableBodyCell-module_cell-hover-reveal__vSp9B.MTT_TableBodyCell-module_overflowing__RhcsQ:hover {
  overflow: visible;
  white-space: normal;
  position: absolute;
  z-index: 2;
  padding: var(--table-vertical-spacing)
    var(--table-horizontal-spacing, var(--mantine-spacing-xs));
  background-color: var(--mtt-base-background-color);
  box-shadow: var(--mantine-shadow-sm);
  border: 1px solid var(--mantine-primary-color-filled);
  text-indent: -1px;
  width: max-content;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MTT_CopyButton-module_root__MrFtW {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: inherit;
  cursor: copy;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  justify-content: inherit;
  letter-spacing: inherit;
  margin: -4px;
  min-width: unset;
  padding: 4px;
  text-align: inherit;
  text-transform: inherit;
}
  .MTT_CopyButton-module_root__MrFtW:active {
    transform: translateY(1px);
  }
  .MTT_CopyButton-module_root__MrFtW:hover {
    background-color: color-mix(
      in srgb,
      var(--mantine-primary-color-filled-hover) 10%,
      transparent
    );
  }

.MTT_TableDetailPanel-module_root__R5H6L {
  display: table-row;
  width: 100%;
  background-color: var(--mtt-base-background-color);
}

.MTT_TableDetailPanel-module_root-grid__cY3bf {
  display: flex;
}

.MTT_TableDetailPanel-module_root-virtual-row__R9x3r {
  position: absolute;
  top: var(--mtt-parent-row-height);
  transform: translateY(var(--mtt-virtual-row-start));
  transition: none;
  z-index: 1;
}

.MTT_TableDetailPanel-module_inner__f6KTC {
  display: table-cell;
  transition: all 150ms ease-in-out;
  width: var(--mtt-inner-width);
}

.MTT_TableDetailPanel-module_inner-grid__iV0aP {
  display: flex;
}

.MTT_TableDetailPanel-module_inner-expanded__3rX1u {
  border-bottom: 1px solid var(--_table-border-color);
}

.MTT_TableDetailPanel-module_inner-virtual__LvZqp {
  transition: none;
}

.MTT_ExpandButton-module_root__oP2sB {
  opacity: 0.8;
}
  .MTT_ExpandButton-module_root__oP2sB:disabled {
    background-color: transparent;
    border: none;
    opacity: 0.3;
  }
  .MTT_ExpandButton-module_root__oP2sB:hover {
    opacity: 1;
  }

.MTT_ExpandButton-module_root-ltr__AsMir {
  margin-left: calc(calc(var(--mtt-row-depth, 0)) * 16px);
}

.MTT_ExpandButton-module_root-ltr__AsMir .MTT_ExpandButton-module_chevron__7FDFb {
    transition: transform 200ms;
  }

.MTT_ExpandButton-module_root-ltr__AsMir .MTT_ExpandButton-module_chevron__7FDFb.MTT_ExpandButton-module_right__OMf1b {
      transform: rotate(270deg);
    }

.MTT_ExpandButton-module_root-ltr__AsMir .MTT_ExpandButton-module_chevron__7FDFb.MTT_ExpandButton-module_up__CwUcD {
      transform: rotate(-180deg);
    }

.MTT_ExpandButton-module_root-rtl__rNiKJ {
  margin-right: calc(calc(var(--mtt-row-depth, 0)) * 16px);
}

.MTT_ExpandButton-module_root-rtl__rNiKJ .MTT_ExpandButton-module_chevron__7FDFb {
    transition: transform 200ms;
  }

.MTT_ExpandButton-module_root-rtl__rNiKJ .MTT_ExpandButton-module_chevron__7FDFb.MTT_ExpandButton-module_right__OMf1b {
      transform: rotate(-270deg);
    }

.MTT_ExpandButton-module_root-rtl__rNiKJ .MTT_ExpandButton-module_chevron__7FDFb.MTT_ExpandButton-module_up__CwUcD {
      transform: rotate(180deg);
    }

.MTT_GrabHandleButton-module_grab-icon__R34tP {
  cursor: grab;
}
  .MTT_GrabHandleButton-module_grab-icon__R34tP:active {
    cursor: grabbing;
  }

.MTT_ColumnPinningButtons-module_root__WUcfM {
  min-width: 70px;
  align-content: center;
  justify-content: center;
}
  .MTT_ColumnPinningButtons-module_root__WUcfM .MTT_ColumnPinningButtons-module_left__qCfDu {
    transform: rotate(90deg);
  }
  .MTT_ColumnPinningButtons-module_root__WUcfM .MTT_ColumnPinningButtons-module_right__55tDm {
    transform: rotate(-90deg);
  }

.MTT_EditActionButtons-module_root__B4iuS {
  display: flex;
  gap: var(--mantine-spacing-xs);
}

.MTT_ExpandAllButton-module_root__QC9JJ {
  margin-left: 6px;
  opacity: 0.8;
}
  .MTT_ExpandAllButton-module_root__QC9JJ:disabled {
    background-color: transparent;
    border: none;
  }
  .MTT_ExpandAllButton-module_root__QC9JJ:hover {
    opacity: 1;
  }
  .MTT_ExpandAllButton-module_root__QC9JJ.xl {
    margin-left: -6px;
  }
  .MTT_ExpandAllButton-module_root__QC9JJ.md {
    margin-left: 0;
  }
  .MTT_ExpandAllButton-module_root__QC9JJ .MTT_ExpandAllButton-module_chevron__LvKyZ {
    transition: transform 150ms;
  }
  .MTT_ExpandAllButton-module_root__QC9JJ .MTT_ExpandAllButton-module_chevron__LvKyZ.MTT_ExpandAllButton-module_up__5GM6h {
      transform: rotate(-180deg);
    }
  .MTT_ExpandAllButton-module_root__QC9JJ .MTT_ExpandAllButton-module_chevron__LvKyZ.MTT_ExpandAllButton-module_right__zQ8Vb {
      transform: rotate(-90deg);
    }

.MTT_ShowHideColumnsMenu-module_root__ZO1Yh {
  max-height: calc(80vh - 100px);
  overflow-y: auto;
}
  .MTT_ShowHideColumnsMenu-module_root__ZO1Yh .MTT_ShowHideColumnsMenu-module_content__14BRo {
    padding-top: calc(0.25rem * var(--mantine-scale));
    padding-bottom: calc(0.25rem * var(--mantine-scale));
    gap: calc(0.5rem * var(--mantine-scale));
    justify-content: space-between;
  }

.MTT_ShowHideColumnsMenuItems-module_root__zCTaO {
  align-items: center;
  cursor: default;
  justify-content: flex-start;
  opacity: 1;
  outline: none;
  padding-left: var(--_column-depth);
  padding-top: calc(0.375rem * var(--mantine-scale));
  padding-bottom: calc(0.375rem * var(--mantine-scale));
}
  .MTT_ShowHideColumnsMenuItems-module_root__zCTaO[data-dragging] {
    opacity: 0.5;
    outline: 1px dashed var(--mantine-color-gray-7);
  }
  .MTT_ShowHideColumnsMenuItems-module_root__zCTaO[data-order-hovered]:not(.MTT_ShowHideColumnsMenuItems-module_root__zCTaO[data-dragging]) {
    outline: 2px dashed var(--_hover-color);
  }
.MTT_ShowHideColumnsMenuItems-module_menu__UtSxA {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: calc(0.5rem * var(--mantine-scale));
}
.MTT_ShowHideColumnsMenuItems-module_grab__ikZts {
  width: calc(1.75rem * var(--mantine-scale));
}
.MTT_ShowHideColumnsMenuItems-module_pin__xSc4d {
  width: calc(4.375rem * var(--mantine-scale));
}
.MTT_ShowHideColumnsMenuItems-module_switch__GiQza {
  cursor: pointer !important;
}
.MTT_ShowHideColumnsMenuItems-module_header__LYJev {
  align-self: center;
}

.MTT_TableFooter-module_root__cJfPZ {
  background-color: var(--mtt-base-background-color);
  display: table-row-group;
}

.MTT_TableFooter-module_grid__Y90JE {
  display: grid;
}

.MTT_TableFooter-module_sticky__aHfBf {
  bottom: 0;
  opacity: 0.97;
  position: sticky;
  z-index: 1;
  outline: 1px solid
    var(--mantine-color-gray-3);
}

[data-mantine-color-scheme='dark'] .MTT_TableFooter-module_sticky__aHfBf {
  outline: 1px solid
    var(--mantine-color-gray-7);
}

.MTT_TableFooterRow-module_root__Fd-EF {
  width: 100%;
  display: table-row;
}
  .MTT_TableFooterRow-module_root__Fd-EF.MTT_TableFooterRow-module_layout-mode-grid__nQWxt {
    display: flex;
  }
  .MTT_TableFooterRow-module_root__Fd-EF {
  background-color: var(--light-bg-color);
}
  [data-mantine-color-scheme='dark'] .MTT_TableFooterRow-module_root__Fd-EF {
  background-color: var(--dark-bg-color);
}
  .MTT_TableFooterRow-module_root__Fd-EF {
  border-top: 1px solid
    var(--mantine-color-gray-3);
}
  [data-mantine-color-scheme='dark'] .MTT_TableFooterRow-module_root__Fd-EF {
  border-top: 1px solid
    var(--mantine-color-dark-4);
}

.MTT_TableFooterCell-module_root__sLzaG {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem;
  text-align: var(--mtt-cell-align, left);
  vertical-align: top;
  z-index: 1;
}

  .MTT_TableFooterCell-module_root__sLzaG.MTT_TableFooterCell-module_grid__jgEHe {
    display: flex;
    justify-content: var(--mtt-cell-align, flex-start);
  }

  .MTT_TableFooterCell-module_root__sLzaG.MTT_TableFooterCell-module_group__LOq1l {
    text-align: center;
    justify-content: center;
  }

  .MTT_TableFooterCell-module_root__sLzaG {

  background-color: var(--mtt-base-background-color);
}

  .MTT_TableFooterCell-module_root__sLzaG[data-column-pinned] {
    position: sticky;
  }

  .MTT_TableFooterCell-module_root__sLzaG[data-column-pinned="left"] {
    left: calc(var(--mtt-table-cell-left, 0) * 1px);
  }

  .MTT_TableFooterCell-module_root__sLzaG[data-column-pinned="left"][data-last-left-pinned] {
      box-shadow: -6px 0 6px -6px
        color-mix(in srgb, var(--mantine-color-gray-outline), transparent 50%)
        inset;
    }

  [data-mantine-color-scheme='dark'] .MTT_TableFooterCell-module_root__sLzaG[data-column-pinned="left"][data-last-left-pinned] {
      box-shadow: -6px 0 6px -6px
        color-mix(in srgb, var(--mantine-color-dark-outline), transparent 50%)
        inset;
}

  .MTT_TableFooterCell-module_root__sLzaG[data-column-pinned="right"] {
    right: calc(var(--mtt-table-cell-right, 0) * 1px);
  }

  .MTT_TableFooterCell-module_root__sLzaG[data-column-pinned="right"][data-first-right-pinned] {
      box-shadow: 6px 0 6px -6px
        color-mix(in srgb, var(--mantine-color-gray-outline), transparent 50%)
        inset;
    }

  [data-mantine-color-scheme='dark'] .MTT_TableFooterCell-module_root__sLzaG[data-column-pinned="right"][data-first-right-pinned] {
      box-shadow: 6px 0 6px -6px
        color-mix(in srgb, var(--mantine-color-dark-outline), transparent 50%)
        inset;
}

.MTT_TableHead-module_root__rWmHs {
  background-color: var(--mtt-base-background-color);
  opacity: 0.97;
  position: relative;
}

.MTT_TableHead-module_root-grid__lIXoP {
  display: grid;
}

.MTT_TableHead-module_root-table-row-group__IP3MI {
  display: table-row-group;
}

.MTT_TableHead-module_root-sticky__TCysI {
  position: sticky;
  top: 0;
  z-index: 3;
}

.MTT_TableHead-module_banner-tr__Smp7z {
  display: table-row;
}

.MTT_TableHead-module_banner-th__IPUj4 {
  display: table-cell;
  padding: 0;
}

.MTT_TableHead-module_grid__8eye3 {
  display: grid;
}

.MTT_TableHeadRow-module_root__CkLaa {
  background-color: var(--mtt-base-background-color);
  display: table-row;
}
  .MTT_TableHeadRow-module_root__CkLaa.MTT_TableHeadRow-module_layout-mode-grid__m-fty {
    display: flex;
  }

.MTT_TableHeadRow-module_sticky__kVd5L {
  position: sticky;
  top: 0;
}

.MTT_TableHeadCell-module_root__WA-na {
  --resize-border-color: var(--mantine-primary-color-filled);
  --hover-color: var(--mantine-primary-color-filled);
  --drag-color: var(--mantine-color-gray-7);
  --resize-thickness: 2px;
  --hover-thickness: 3px;
  --drag-thickness: 1px;

  background-color: var(--mtt-base-background-color);
  background-clip: padding-box;
  font-weight: bold;
  overflow: visible;
  position: relative;
  transition: padding 150ms ease-in-out;
  vertical-align: top;
  z-index: 1;
}

  .MTT_TableHeadCell-module_root__WA-na:active {
    z-index: 3;
  }

  .MTT_TableHeadCell-module_root__WA-na[data-column-pinned] {
    background-color: var(--mtt-base-background-color);
    opacity: 0.97;
    position: sticky;
    z-index: 4;
  }

  .MTT_TableHeadCell-module_root__WA-na[data-column-pinned][data-column-pinned="left"] {
      left: calc(var(--mtt-table-cell-left, 0) * 1px);
    }

  .MTT_TableHeadCell-module_root__WA-na[data-column-pinned][data-column-pinned="left"][data-last-left-pinned] {
        box-shadow: -6px 0 6px -6px
          color-mix(in srgb, var(--mantine-color-gray-outline), transparent 50%)
          inset;
      }

  [data-mantine-color-scheme='dark'] .MTT_TableHeadCell-module_root__WA-na[data-column-pinned][data-column-pinned="left"][data-last-left-pinned] {
        box-shadow: -6px 0 6px -6px
          color-mix(in srgb, var(--mantine-color-dark-outline), transparent 50%)
          inset;
}

  .MTT_TableHeadCell-module_root__WA-na[data-column-pinned][data-column-pinned="right"] {
      right: calc(var(--mtt-table-cell-right, 0) * 1px);
    }

  .MTT_TableHeadCell-module_root__WA-na[data-column-pinned][data-column-pinned="right"][data-first-right-pinned] {
        box-shadow: 6px 0 6px -6px
          color-mix(in srgb, var(--mantine-color-gray-outline), transparent 50%)
          inset;
      }

  [data-mantine-color-scheme='dark'] .MTT_TableHeadCell-module_root__WA-na[data-column-pinned][data-column-pinned="right"][data-first-right-pinned] {
        box-shadow: 6px 0 6px -6px
          color-mix(in srgb, var(--mantine-color-dark-outline), transparent 50%)
          inset;
}

  .MTT_TableHeadCell-module_root__WA-na[data-resizing][data-resizing="ltr"] {
      border-right: var(--resize-thickness) solid var(--resize-border-color);
    }

  .MTT_TableHeadCell-module_root__WA-na[data-resizing][data-resizing="rtl"] {
      border-left: var(--resize-thickness) solid var(--resize-border-color);
    }

  .MTT_TableHeadCell-module_root__WA-na[data-dragging-column] {
    border-left: var(--drag-thickness) dashed var(--drag-color);
    border-right: var(--drag-thickness) dashed var(--drag-color);
    border-top: var(--drag-thickness) dashed var(--drag-color);
    opacity: 0.5;
    z-index: 3;
  }

  .MTT_TableHeadCell-module_root__WA-na[data-hovered-column-target] {
    border-left: var(--hover-thickness) dashed var(--hover-color);
    border-right: var(--hover-thickness) dashed var(--hover-color);
    border-top: var(--hover-thickness) dashed var(--hover-color);
    z-index: 2;
  }

  .MTT_TableHeadCell-module_root__WA-na .mantine-ActionIcon-root {
    opacity: 0.7;
    transition: opacity 100ms ease-in-out;
  }

  .MTT_TableHeadCell-module_root__WA-na:hover .mantine-ActionIcon-root {
      opacity: 1;
    }

.MTT_TableHeadCell-module_root-grid__nf-rx {
  display: flex;
  flex-direction: column;
}

.MTT_TableHeadCell-module_root-virtualized__ZqpyH {
  transition: none;
}

.MTT_TableHeadCell-module_root-no-select__ZLZFc {
  user-select: none;
}

.MTT_TableHeadCell-module_content__3DKPI {
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
}

.MTT_TableHeadCell-module_content-spaced__0bi-E {
  justify-content: space-between;
}

.MTT_TableHeadCell-module_content-center__qL21F {
  justify-content: center;
}

.MTT_TableHeadCell-module_content-right__8Sm2y {
  flex-direction: row-reverse;
}

.MTT_TableHeadCell-module_content-wrapper__CRoF8 {
  text-overflow: ellipsis;
}

.MTT_TableHeadCell-module_content-wrapper-hidden-overflow__P8V37 {
  overflow: hidden;
}

.MTT_TableHeadCell-module_content-wrapper-nowrap__BVRvy {
  white-space: nowrap;
}

.MTT_TableHeadCell-module_labels__O-b8J {
  align-items: center;
  gap: calc(0.125rem * var(--mantine-scale));
  min-height: calc(1.375rem * var(--mantine-scale));
}

.MTT_TableHeadCell-module_labels-right__Ia7qD {
  flex-direction: row-reverse;
}

.MTT_TableHeadCell-module_labels-center__zxxYE {
  padding-left: calc(var(--mtt-table-head-cell-labels-padding-left) * 1rem);
}

.MTT_TableHeadCell-module_labels-sortable__o1N1I {
  cursor: pointer;
}

.MTT_TableHeadCell-module_labels-data__3QGLl {
  overflow: hidden;
}

.MTT_TableHeadCell-module_content-actions__GHner {
  align-items: center;
  align-self: center;
  white-space: nowrap;
  gap: calc(0.125rem * var(--mantine-scale));
  margin-left: calc(0.125rem * var(--mantine-scale));
}

.MTT_TableHeadCellFilterContainer-module_filter-mode-label__qzC-Z {
  white-space: nowrap;
  margin-top: 4px;
  font-size: 10px;
}

.MTT_FilterCheckBox-module_root__iCb9P {
  font-weight: normal;
  margin-top: 8px;
}

.MTT_FilterRangeFields-module_root__h0cnc {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 16px;
}

.MTT_FilterTextInput-module_root__YLv0v {
  font-weight: normal;
  border-bottom: 2px solid
    var(--mantine-color-gray-3);
}
  [data-mantine-color-scheme='dark'] .MTT_FilterTextInput-module_root__YLv0v {
  border-bottom: 2px solid
    var(--mantine-color-gray-7);
}
  .MTT_FilterTextInput-module_root__YLv0v {
  min-width: auto;
}
  .MTT_FilterTextInput-module_root__YLv0v.MTT_FilterTextInput-module_date-filter__uIq3W {
    min-width: calc(7.8125rem * var(--mantine-scale));
  }
  .MTT_FilterTextInput-module_root__YLv0v.MTT_FilterTextInput-module_range-filter__pk29m {
    min-width: calc(5rem * var(--mantine-scale));
  }
  .MTT_FilterTextInput-module_root__YLv0v.MTT_FilterTextInput-module_not-filter-chip__x8a7H {
    min-width: calc(6.25rem * var(--mantine-scale));
  }
  .MTT_FilterTextInput-module_root__YLv0v {
  width: 100%;
}
  .MTT_FilterTextInput-module_root__YLv0v .mantine-TextInput-input {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .MTT_FilterTextInput-module_root__YLv0v .mantine-DateInput-input {
    height: 2.1rem;
  }

.MTT_FilterTextInput-module_filter-chip-badge__2Sc7v {
  margin: 5px;
}

.MTT_FilterRangeSlider-module_root__8RdhX {
  margin: auto;
  margin-top: 16px;
  margin-bottom: 6px;
  width: calc(100% - 8px);
}

.MTT_FilterOptionMenu-module_symbol__BEN8o {
  font-size: var(--mantine-font-size-xl);
  text-align: center;
  width: 2ch;
  transform: translateY(-0.1em);
}

.MTT_TableHeadCellFilterLabel-module_root__2wu2A {
  transition: all 150ms ease;
  --ai-size: var(--ai-size-sm);
  --ai-bg: transparent;
  --ai-hover: var(--mantine-color-gray-1);
}
  [data-mantine-color-scheme='dark'] .MTT_TableHeadCellFilterLabel-module_root__2wu2A {
  --ai-hover: var(--mantine-color-dark-6);
}
  .MTT_TableHeadCellFilterLabel-module_root__2wu2A {
  --ai-hover-color: var(--mantine-color-bright);
  color: var(--mantine-color-bright);
}
  .MTT_TableHeadCellFilterLabel-module_root__2wu2A[data-active] {
    color: var(--mantine-primary-color-filled);
  }

.MTT_TableHeadCellResizeHandle-module_root__DVmlL {
  --resize-handle-thickness: 4px;
  background: var(--mantine-color-placeholder);
  border-radius: 2px;
  cursor: col-resize;
  height: 24px;
  position: absolute;
  width: var(--resize-handle-thickness);
}
  .MTT_TableHeadCellResizeHandle-module_root__DVmlL:hover {
    background: var(--mantine-primary-color-filled-hover);
  }
  .MTT_TableHeadCellResizeHandle-module_root__DVmlL:active {
    background: var(--mantine-primary-color-filled);
  }
  .MTT_TableHeadCellResizeHandle-module_root__DVmlL {
  transform: var(--mtt-transform);
}

.MTT_TableHeadCellResizeHandle-module_root-ltr__1G4s3 {
  right: 0px;
  margin-right: -10px;
}

.MTT_TableHeadCellResizeHandle-module_root-ltr__1G4s3.md {
    margin-right: -16px;
  }

.MTT_TableHeadCellResizeHandle-module_root-ltr__1G4s3.xl {
    margin-right: -22px;
  }

.MTT_TableHeadCellResizeHandle-module_root-rtl__P-lA1 {
  left: 0px;
  margin-left: -10px;
}

.MTT_TableHeadCellResizeHandle-module_root-rtl__P-lA1.md {
    margin-left: -16px;
  }

.MTT_TableHeadCellResizeHandle-module_root-rtl__P-lA1.xl {
    margin-left: -22px;
  }

.MTT_TableHeadCellResizeHandle-module_root-hide__IfihM:active {
    opacity: 0;
  }

.MTT_TableHeadCellSortLabel-module_sort-icon__GnP0n {
  transition: all 150ms ease;
  --ai-size: var(--ai-size-xs);
  --ai-bg: transparent;
  --ai-hover: var(--mantine-color-gray-1);
}
  [data-mantine-color-scheme='dark'] .MTT_TableHeadCellSortLabel-module_sort-icon__GnP0n {
  --ai-hover: var(--mantine-color-dark-6);
}
  .MTT_TableHeadCellSortLabel-module_sort-icon__GnP0n {
  --ai-hover-color: var(--mantine-color-bright);
  color: var(--mantine-color-bright);
}
  .MTT_TableHeadCellSortLabel-module_sort-icon__GnP0n[data-sorted] {
    color: var(--mantine-primary-color-filled);
  }
  .MTT_TableHeadCellSortLabel-module_sort-icon__GnP0n {
  margin-left: 1px;
}

.MTT_TableHeadCellSortLabel-module_multi-sort-indicator__IOKkc {
  --indicator-size: calc(1rem * var(--mantine-scale));
  --indicator-color: transparent;
  --indicator-text-color: var(--mantine-color-bright);
  height: var(--indicator-size);
}

.MTT_ColumnActionMenu-module_left__07-kb {
  transform: rotate(90deg);
}

.MTT_ColumnActionMenu-module_right__-sHyx {
  transform: rotate(-90deg);
}

.MTT_ToolbarAlertBanner-module_alert__bMvWx {
  border-radius: 0;
  font-size: 1rem;
  left: 0;
  position: relative;
  padding: calc(0.5rem * var(--mantine-scale));
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.MTT_ToolbarAlertBanner-module_alert-stacked__wBLEl {
  margin-bottom: 0;
}

.MTT_ToolbarAlertBanner-module_alert-bottom__g2pI4 {
  margin-bottom: -16px;
}

.MTT_ToolbarAlertBanner-module_alert-badge__k78Jz {
  margin-left: 1ch;
}

.MTT_ToolbarAlertBanner-module_toolbar-alert__3ShO- {
  gap: var(--mantine-spacing-sm);
  padding: 8px 16px;
}

.MTT_ToolbarAlertBanner-module_toolbar-alert__3ShO-.MTT_ToolbarAlertBanner-module_head-overlay__ZbRqY {
    padding: 2px;
  }

.MTT_ToolbarAlertBanner-module_toolbar-alert__3ShO-.MTT_ToolbarAlertBanner-module_head-overlay__ZbRqY.xl {
      padding: 16px;
    }

.MTT_ToolbarAlertBanner-module_toolbar-alert__3ShO-.MTT_ToolbarAlertBanner-module_head-overlay__ZbRqY.md {
      padding: 8px;
    }

.MTT_GlobalFilterTextInput-module_root__pd3Rn {
  z-index: 2;
  position: relative;
}

.MTT_GlobalFilterTextInput-module_collapse__5EWZ1 {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: nowrap;
}

:root {
  /* default background color for everything */
  --mtt-base-background-color: var(--mantine-color-body);

  /* cell borders */
}

  :root[data-mantine-color-scheme='light'] {
    --mtt-striped-row-background-color: color-mix(in srgb, var(--mtt-base-background-color), black 5%);
}

  :root[data-mantine-color-scheme='dark'] {
    --mtt-striped-row-background-color: color-mix(in srgb, var(--mtt-base-background-color), white 4%);
}

  /* row hover */

  :root[data-mantine-color-scheme='light'] {
    --mtt-row-hover-background-color: color-mix(in srgb, var(--mtt-base-background-color), black 8%);
    --mtt-striped-row-hover-background-color: color-mix(in srgb, var(--mtt-striped-row-background-color), black 12%);
}

  :root[data-mantine-color-scheme='dark'] {
    --mtt-row-hover-background-color: color-mix(in srgb, var(--mtt-base-background-color), white 8%);
    --mtt-striped-row-hover-background-color: color-mix(in srgb, var(--mtt-striped-row-background-color), white 8%);
}

  :root {
  --mtt-selected-row-background-color: color-mix(in srgb, var(--mantine-primary-color-light), transparent 19.999999999999996%);
}

  /* row selection */

  :root[data-mantine-color-scheme='light'] {
    --mtt-selected-row-hover-background-color: color-mix(in srgb, var(--mantine-primary-color-light-hover), black 5%);
}

  :root[data-mantine-color-scheme='dark'] {
    --mtt-selected-row-hover-background-color: color-mix(in srgb, var(--mantine-primary-color-light-hover), white 5%);
}

  :root {
  --mtt-pinned-row-background-color: var(--mtt-selected-row-background-color);
  --mtt-pinned-row-hover-background-color: var(
    --mtt-selected-row-hover-background-color
  );
}

  /* column pinning */

  :root[data-mantine-color-scheme='light'] {
    --mtt-pinned-column-background-color: color-mix(in srgb, var(--mtt-base-background-color), black 1%);
}

  /* row pinning */

  :root[data-mantine-color-scheme='dark'] {
    --mtt-pinned-column-background-color: color-mix(in srgb, var(--mtt-base-background-color), black 5%);
}

  :root {
  --mtt-dragging-hovered-border-color: var(--mantine-primary-color-filled);
  --mtt-dragging-drag-border-color: var(--mantine-color-gray-7);
  --mtt-resize-column-border-color: var(--mantine-primary-color-filled);
}

.MTT_TablePaper-module_root__dWw8m {
  background-color: var(--mtt-base-background-color);
  overflow: hidden;
  transition: all 150ms ease-in-out;
}

.MTT_TableContainer-module_root__1oqy5 {
  background-color: var(--mtt-base-background-color);
  max-width: 100%;
  overflow: auto;
  position: relative;
}

.MTT_TableContainer-module_root-sticky__vN55C {
  max-height: clamp(
    350px,
    calc(100vh - calc(var(--mtt-top-toolbar-height) * 1px)),
    9999px
  );
}

.MTT_TableContainer-module_root-fullscreen__65kqH {
  max-height: calc(
    100vh - calc(var(--mtt-top-toolbar-height) * 1px)
  ) !important;
}

.MTT_Table-module_root__X-OYl {
  background-color: var(--mtt-base-background-color);
}

.MTT_Table-module_root-grid__SU0pB {
  display: grid;
}

.common-styles-module_common-toolbar-styles__DnjR8 {
  align-items: flex-start;
  display: grid;
  flex-wrap: wrap-reverse;
  min-height: calc(3.5rem * var(--mantine-scale));
  overflow: visible;
  padding: 0;
  transition: all 150ms ease-in-out;
  z-index: 3;
}

.MTT_BottomToolbar-module_root__QzF4W {
  background-color: var(--mtt-base-background-color);
  border-top: 1px solid
    var(--mantine-color-gray-3);
}
  [data-mantine-color-scheme='dark'] .MTT_BottomToolbar-module_root__QzF4W {
  border-top: 1px solid
    var(--mantine-color-dark-4);
}
  .MTT_BottomToolbar-module_root__QzF4W {
  bottom: var(--mtt-bottom-toolbar-bottom);
  box-shadow: 0 1px 2px -1px
    color-mix(in srgb, var(--mantine-color-black) 10%, transparent) inset;
  left: 0;
  right: 0;
  position: relative;
}

.MTT_BottomToolbar-module_root-fullscreen__9FsCd {
  position: fixed !important;
  bottom: 0;
}

.MTT_BottomToolbar-module_custom-toolbar-container__hLonR {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: calc(0.5rem * var(--mantine-scale));
  width: 100%;
}

.MTT_BottomToolbar-module_paginator-container__Mez6J {
  display: flex;
  justify-content: flex-end;
  right: 0;
  top: 0;
  position: absolute;
}

.MTT_BottomToolbar-module_paginator-container-alert-banner__HNZ58 {
  position: relative !important;
}

.MTT_ProgressBar-module_collapse__pTHXw {
  position: absolute;
  width: 100%;
  top: 0;
}

.MTT_ProgressBar-module_collapse-top__F8gQi {
  bottom: 0;
  top: unset;
}

.MTT_TablePagination-module_root__lvoaP {
  display: flex;
  z-index: 2;
  gap: var(--mantine-spacing-lg);
  align-items: center;
  justify-content: space-between;
  padding-right: var(--mantine-spacing-sm);
  padding-left: var(--mantine-spacing-sm);
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);
}
  .MTT_TablePagination-module_root__lvoaP .MTT_TablePagination-module_pagesize__CTaXl input {
      width: calc(5rem * var(--mantine-scale));
    }

.MTT_TablePagination-module_with-top-margin__UNhRg {
  margin-top: 3rem;
}

.MTT_ToolbarDropZone-module_root__6m14U {
  align-items: center;

  border: dashed var(--mantine-primary-color-filled) 2px;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: color-mix(
    in srgb,
    var(--mantine-primary-color-filled) 10%,
    transparent
  );
}

.MTT_ToolbarDropZone-module_hovered__sJCy6 {
  background-color: color-mix(
    in srgb,
    var(--mantine-primary-color-filled) 20%,
    transparent
  );
}

.MTT_TopToolbar-module_root__nXHgx {
  background-color: var(--mtt-base-background-color);
  position: relative;
}

.MTT_TopToolbar-module_root-fullscreen__FDNzU {
  position: sticky !important;
  top: 0;
}

.MTT_TopToolbar-module_actions-container__UIWGT {
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: space-between;
  padding: calc(0.5rem * var(--mantine-scale));
  right: 0;
  top: 0;
  width: 100%;
  position: absolute;
}

.MTT_TopToolbar-module_actions-container-stack-alert__fOs1b {
  position: relative !important;
}

.MTT_ToolbarInternalButtons-module_root__x3d9j {
  align-items: center;
  gap: 2px;
  z-index: 3;
  margin-left: 4px;
}
