.root {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem;
  text-align: var(--mtt-cell-align, left);
  vertical-align: top;
  z-index: 1;

  &.grid {
    display: flex;
    justify-content: var(--mtt-cell-align, flex-start);
  }

  &.group {
    text-align: center;
    justify-content: center;
  }

  background-color: var(--mtt-base-background-color);

  &[data-column-pinned] {
    position: sticky;
  }

  &[data-column-pinned="left"] {
    left: calc(var(--mtt-table-cell-left, 0) * 1px);
    &[data-last-left-pinned] {
      box-shadow: -6px 0 6px -6px
        alpha(
          light-dark(
            var(--mantine-color-gray-outline),
            var(--mantine-color-dark-outline)
          ),
          0.5
        )
        inset;
    }
  }

  &[data-column-pinned="right"] {
    right: calc(var(--mtt-table-cell-right, 0) * 1px);
    &[data-first-right-pinned] {
      box-shadow: 6px 0 6px -6px
        alpha(
          light-dark(
            var(--mantine-color-gray-outline),
            var(--mantine-color-dark-outline)
          ),
          0.5
        )
        inset;
    }
  }
}
